<!DOCTYPE html>
<html>
<head>
    <title>Exchange Rate Update</title>
</head>
<body>
    <h1>Exchange Rate Update</h1>
    <p>Dear Subscriber,</p>
    <p>We are writing to inform you about the latest exchange BTC rate:</p>
    <table>
        <tr>
            <th>Currency</th>
            <th>Exchange Rate</th>
        </tr>
        <tr>
            <td>UAH</td>
            <td>{{.Rate}}</td>
        </tr>
    </table>
    <p>Please note that exchange rates are subject to change and may fluctuate.</p>
    <p>Should you have any questions or require further assistance, please do not hesitate to contact us.</p>
    <p>Thank you for your attention.</p>
    <p>Sincerely,</p>
    <p>Your Awesome ExchangeApi</p>
</body>
</html>
